html {
  background-color: #202020;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.center {
  position: relative;
}

.hijo {
  /* centrar vertical y horizontalmente */
  margin-left: 80px;
  margin-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Quita bordes del iframe */
}

.responsive-iframe {
  position: relative;
  width: 100%;
  max-width: 700px; /* Ancho máximo para iframes */
  height: 0;
  padding-bottom: 56.25%; /* Mantiene la relación de aspecto 16:9 */
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .hijo {
    max-width: 50%;
    height: auto;
    vertical-align: middle;
  } /* The width is 100%, when the viewport is 800px or smaller */
}

.msj {
  border: 2px solid;
  resize: both;
  overflow: auto;
}

a {
  text-decoration: none;
}

button {
  border-radius: 30px;
}
